* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue: #003040;
    --red: #D82828;
    --orange: #F77F0D;
    --yellow: #FCBF49;
    --cress: #EAE287;
}

body {
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: bold;
    background-color: whitesmoke;
}

header {
    background-color: var(--blue);
    color: white;
    height: 10vh;
    line-height: 10vh;
    padding-left: 2vw;
}

main {
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer {
    background-color: var(--blue);
    color: white;
    height: 3vh;
    font-size: 0.875em;
    line-height: 3vh;
}

.quiz-area {
    height: 70vh;
    width: 60vw;
    align-items: center;
    border-radius: 25px;
}

.timer {
    width: 20%;
    height: 15%;
    background-color: lightblue;
    border-radius: 25px;
    color: var(--blue);
    font-size: 1.20em;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    line-height: .9em;
    font-size: 3vh;
}

.count-text {
    font-size: 1.2em;
}

.qa-list {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.start-button {
    width: 50%;
    height: 50%;
    background-color: var(--blue);
    color: var(--blue);
    align-content: center;
    border-radius: 25px;
    border-style: none;
    outline: 2px solid white;
    font-size: 2.5rem;
    color: white;
}

.list-item, .answer-button {
    width: 100%;
    height: 20%;
    background-color: white;
    color: var(--blue);
    align-content: center;
    padding: 10px;
    border: 1px solid var(--blue);
    font-size: 18px;
}

.list-item {
    border-radius: 25px 25px 0 0;
}

.answer-button:last-child {
    border-radius: 0 0 25px 25px;
    background-color: white;

}

.question-text {
    font-size: 18px;
    text-align: center;
}

.answer-button {
    transition-duration: 0.2s;
}

.answer-button:hover {
    background-color: grey;
    color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header {
        text-align: center;
    }
    .start-button {
        height: 200px;
        width: 200px;
    }

    main {
        flex-direction: column;
        gap: 5;

    }

    .quiz-area {
        width: 90%;
    }

    footer {
        text-align: center;
    }

    .timer {
        right: 0;
        top: 0;
        width: 90%;
        height: 10%;
        font-size: 16px;
        position: relative;
    }

    .count-text {
        font-size: 18px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}